{% extends "BookRecord/template.html" %}
{% load static %}

{% block changing_content  %}

<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
              <h1 class="display-5 fw-bold">Lista de comentaios</h1>
                {% if not request.user.is_authenticated %}
                  <a class="btn btn-primary btn-lg" href="{% url 'login' %}">Iniciar sesión</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

  <button><a href="{% url 'search_comment' %}">Buscar comentario</a></button>
  <ul>
    {% for i in object_list %}
    <li>
      Título: <i>{{i.title}}</i>
      <div>
        <button><a href="{% url 'update_comment' i.id %}">Actualizar comentario</a></button>
        <button><a href="{% url 'delete_comment' i.id %}">Eliminar comentario</a></button>
        <button><a href="{% url 'detail_comment' i.id %}">Más detalles</a></button>
      </div>
    </li>

    {% endfor %}
  </ul>

  <button><a href="{% url 'create_comment' %}">Agregar comentario</a></button>

{% endblock %}
