{% extends "BookRecord/template.html" %}
{% load static %}

{% block changing_content  %}

<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
              <h1 class="display-5 fw-bold">Lista de libros</h1>
            </div>
        </div>
    </div>
</header>

  <ul>
    {% for i in object_list %}
    <li>
      Título: <i>{{i.title}}</i>
      <div>
        <button><a href="{% url 'update_book' i.id %}">Actualizar información</a></button>
        <button><a href="{% url 'delete_book' i.id %}">Eliminar</a></button>
        <button><a href="{% url 'detail_book' i.id %}">Inspeccionar</a></button>
      </div>
    </li>

    {% endfor %}
  </ul>

  <p><a href="{% url 'create_book' %}">Agregar libro</a></p>

{% endblock %}
